accelerate==1.6.0
datasets==3.5.0
huggingface_hub==0.31.2
numpy==1.26.4
packaging==25.0
safetensors==0.5.3
sentencepiece==0.2.0
tokenizers==0.21.1
transformers==4.51.3
peft==0.16.0
torch==2.8.0
bitsandbytes==0.46.0
